@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$font: 'Kumbh Sans', sans-serif;

$cero: 0;
$lists-style: none;

$color-white: #fcfcfc;
$color-black: #121212;
$color-light-grey: #c0c0c0;
$color-grey: #888888;
$color-dark-grey: #525252;



