/***************************** index.html *****************************/

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    @include marginPadding(0,0);
}

ul{
    @include listStyle(none);
}

a{
    @include textDecoration(none);
}

.menu-list-products-container{
    background-color: $color-white;
    @include grid(1fr 4fr, none);
}

aside{
    @include dimentions(none, 100vh);
    @include flexbox(column, space-between, none);
    color: $color-black;
    padding: 2rem;
    padding-right: 0;
    position: sticky;
    top: 0;
}

.logo{
    padding-left: 1rem;
    img{
        width: 70px; 
        height: 50px;
    }
}

.menu{
    @include flexbox(column, none, none);
    gap: 1rem;
}

.btn-menu{
    background-color: transparent;
    @include dimentions(100%, none);
    @include flexbox(row, none, center);
    @include textStyle($color-black, 0.85rem, 600);
    border: 0;
    cursor: pointer;
    gap: 1rem;
    padding: 1rem;
}

.btn-bag{
    background-color: transparent;
    @include dimentions(100%, none);
    @include flexbox(row, none, center);
    @include textStyle($color-black, 0.85rem, 600);
    gap: 1rem;
    padding: 1rem;
}

.btn-menu.active{
    background-color: $color-black;
    color: $color-white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.btn-menu.active::before{
    @include dimentions(1rem, 2rem);
    content: '';
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 1rem 0 $color-black;
}

.btn-menu.active::after{
    @include dimentions(1rem, 2rem);
    content: '';
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 1rem 0 $color-black;
}

.btn-bag{
    margin-top: 2rem;
}

.quantity{
    background-color: $color-black;
    color: $color-white;
    padding: 0.15rem 0.25rem;
    border-radius: 0.25rem;
}

.btn-bag.active.quantity{
    background-color: $color-white;
    color: $color-black;
}

main{
    background-color: $color-black;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.main-title{
    color: $color-white;
    margin-bottom: 2rem;
}

.products-container{
    @include grid(repeat(4, 1fr), none);
    gap: 2rem;
}

.product-container{
    &:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
}

.product-img{
    max-width: 100%;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.product-details{
    background-color: $color-white;
    color: $color-black;
    @include flexbox(column, none, none);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    gap: 0.25rem;
}

.product-title{
    font-size: 1rem;
    text-align: center;
}

.product-price{
    text-align: center;
}

.add-product{
    background-color: $color-black;
    color: $color-white;
    border: 0;
    padding: 0.25rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid $color-black;
    transition: background-color 0.2s, color 0.2s;
}

.add-product:hover{
    background-color: $color-white;
    color: $color-black;
}

footer{
    padding-right: 2.5rem;
    p{
        @include textStyle($color-dark-grey, 0.75rem, none);
        text-align: center;
    }
}




